html {
    
  
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

*, ::after, ::before {
    box-sizing: inherit;
}


.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.form {
    width: 100%;
    max-width: 500px;
    font-size: 20px;
   margin: 0 auto;
}
.form_fieldset {
    width: 100%;
    max-width: 500px;
    background-color: gold;
    border: rgb(105, 13, 13) solid 2px;
    border-radius: 20px;
}
.form_legend {
    width: 100%;
    max-width: 500px;
    color: gold;
    font-style: bold ;
    background-color:rgb(105, 13, 13);
    border: rgb(105, 13, 13) solid 2px;
    border-radius: 20px;
    padding: 20px;
}

.form_labelText {
    color:brown;
    font-weight: 700px;
    max-width:200px;
    display: inline-block;
    margin: 5px;
  
}
.form_field {
    border: gold solid 1px;
    color:brown;
    font-weight: 700px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}
.form_select {
    border: gold solid 1px;
    color:hsl(0, 78%, 23%);
    font-weight: 700px;
    padding: 10px;
    max-width: 200px;
    border-radius: 20px;
}
.form_button{
    color: gold;
    max-width:100%;
    font-style: bold ;
    background-color: hsl(0, 78%, 23%);
    border: rgb(105, 13, 13) solid 2px;
    border-radius: 20px;
    padding: 20px;
}
.form_button:hover {
    background-color: hsl(0, 82%, 30%);
}
.form_button:active {
    background-color: hsl(0, 82%, 40%);}

    .form_minText{
    max-width: 400px;
    font-size: 15px;

    }